@model PDFWriter.ViewModels.CatContractViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>CatContractViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.EditorFor(model => model.OwnerName1)
    @Html.EditorFor(model => model.CatName)
    @Html.EditorFor(model => model.Name2)
    @Html.EditorFor(model => model.Day)
    @Html.EditorFor(model => model.Month)
    @Html.EditorFor(model => model.Year)
    @Html.EditorFor(model => model.OwnerName2)
    @Html.EditorFor(model => model.Address)
    @Html.EditorFor(model => model.City)
    @Html.EnumDropDownListFor(model => model.State)
    @Html.EditorFor(model => model.PhoneNumber)
    @Html.EditorFor(model => model.Email)
    @Html.EditorFor(model => model.CatName2)
    @Html.EditorFor(model => model.Weight)
    @Html.EditorFor(model => model.Color)
    <div class="checkbox">
        @Html.EditorFor(model => model.Fixed)
    </div>
    @Html.EditorFor(model => model.ChipNumber)
    @Html.EditorFor(model => model.VetName)
    @Html.EditorFor(model => model.VetAddress)
    @Html.EditorFor(model => model.VetPhone)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
